{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Главное{% endblock %}
{% block style %} <link rel="stylesheet" href="{% static 'main/css/poster.css' %}"> {% endblock %}
{% block content %}
<section style="margin:10px">
    <div class="posters" style="background-image: url('{% static 'main/image/fon.png' %}');">
        <h2 class="level_name">Новые серии</h2>
        <div class="scroll_posts">
            <button class=" btn"><i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i></button>
            <div class="posts">
                <div class="post">
                    <img class="film" src="{% static 'main/image/film_1.jpg' %}">
                    <p class="film-title">Неуязвимый</p>
                </div>
                <div class="post">
                    <img class="film" src="{% static 'main/image/startrek.png' %}">
                    <p class="film-title">Star-Trek</p>
                </div>
                <div class="post">
                    <img class="film" src="{% static 'main/image/barbi.jpg' %}">
                    <p class="film-title">Barbi</p>
                </div>
            </div>
            <button class=" btn"><i class="fa-solid fa-arrow-right" style="color: #fcfcfc;"></i></button>
        </div>
        <h2 class="level_name">Премьера</h2>
        <div class="scroll_posts">
            <button class=" btn"><i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i></button>
            <div class="posts">
                <div class="post">
                    <img class="film" src="{% static 'main/image/film_1.jpg' %}">
                    <p class="film-title">Неуязвимый</p>
                </div>
                <div class="post">
                    <img class="film" src="{% static 'main/image/startrek.png' %}">
                    <p class="film-title">Star-Trek</p>
                </div>
                <div class="post">
                    <img class="film" src="{% static 'main/image/barbi.jpg' %}">
                    <p class="film-title">Barbi</p>
                </div>
            </div>
            <button class=" btn"><i class="fa-solid fa-arrow-right" style="color: #fcfcfc;"></i></button>
        </div>
    </div>
</section>

{% endblock %}
