{% extends 'main/layout.html' %}
{% load static %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="afisha">
<h3 class="h43">Metflix</h3>
    <div class="gen_us" style="background-image: url('{% static 'main/image/us.jpg' %}');">
        <p>Добро пожаловать в наш маленький кинотеатр! Мы гордимся тем, что создали уютное и атмосферное место для кинолюбителей всех возрастов. Наш кинотеатр предлагает широкий выбор фильмов различных жанров, чтобы удовлетворить вкусы каждого посетителя.</p>
        <p>Мы стремимся предоставить нашим гостям не только высококачественное кинематографическое содержание, но и уникальный опыт посещения. Наша команда постоянно работает над улучшением условий для зрителей, чтобы каждый визит оставлял приятные впечатления и запоминающиеся моменты.</p>
        <p>Присоединяйтесь к нам в нашем уютном кинотеатре и наслаждайтесь незабываемыми фильмами в приятной атмосфере.</p>
    </div>
</div>
{% endblock %}