/* Общие стили */
html{

}

body {
    background: #1a1a1a;

}

.wrapper {

    margin: 0.5% 0.5% 0;
    display: grid;
    grid-template-columns: 15% 83%;
    grid-template-rows: auto 1fr;
    grid-gap: 0;
    min-height: 100vh;
    overflow: hidden;

}

aside {
    overflow: hidden;
    background: #1a1a1a;
    padding: 2.5%;
    color: #fff;
    grid-column: 1 / 1;
    height: 100%;
}

.aside_menu{
    width: 16%;
    padding-top: 1%;
    position: fixed;
    grid-column: 1 / 1 ;
}

aside img {

    width: 35%;
    float: left;
    padding:4%;
}

aside .logo {

    font-size: 1.2em;
    margin-left: 1%;
    font-weight: bold;
    position: relative;
    top: 20px;

}

aside h3 {
    text-align: center;
    margin-top: 50%;
    font-size: 1.2em;
    margin-bottom: 8%;
    position: relative;
}

aside ul {list-style: none}
aside ul li {
    position: relative;
    color: #fff;
    display: block;
    margin-top: 30%;
    transition: transform .6s ease;
    text-decoration: none;
    max-size: 80%;
}

aside ul li:hover, aside ul a:hover {
    color: #004A4F;
    text-decoration: none;
    transform: scale(1.05);
}

aside a {
    text-decoration: none;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid #4d4d4d;
    grid-column: 2 / 2 ;
}

footer {
    display: flex;
    min-height: 5vh;
    background: #1a1a1a;
    color: #fff;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 2;
    grid-row: 2 / 3;
    text-align: center;
    border-left: 5px solid #4d4d4d;
    border-right: 5px solid #4d4d4d;
}

footer .container {
    height: 80%;
    width: 80%;
    font-size: 1em; /* Используем относительную единицу измерения */
}